*{
    margin: 0;
    padding: 0
}

body {
    font-family: sans-serif;
    height: 2500px;
}
nav{
    position: fixed;
    width: 100%;
    top:0
}
.navbar-links {
    margin:0 auto;
    padding: 0;
    list-style: none;
    background-color: #333;    
    text-align: center;
}

.navbar-links li {
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #eee;
    margin: 0
}

.navbar-links a.active { color: rgb(212, 167, 19) }

.block { height: 500px; }